/* @charset "utf-8"; */
/* CSS Document */

img {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
	display: inline-block;
}

body, td, th, p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5em;
}

body {
	background-color: #fdfdfd;
	margin: 0;
}

ul, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: #333;
}

a {
	color: #f18200;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
	font-weight: normal;
  /* margin: 0 0 1em; */
}
article, aside, canvas, details, figcaption, figure, hgroup, menu, nav, section {
	display: block;
}

#maincontent,
#restaurants-container,
#footer,
header,
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#maincontent {
  background-color: #f3f3f3;
	width: 100%;
  min-height: 100%;
}

#restaurants-container {
	flex-basis: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  line-height: 1.8em;
  letter-spacing: 0.3em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
	padding-left: 8px;
	padding-right: 8px;
}

/* -------------------------------------------------------- */
/* ---------------------- Navigation ---------------------- */
/* -------------------------------------------------------- */

nav {
  flex-basis: 100%;
  background-color: #252831;
  text-align: center;
	align-items: center;
}

nav h1 {
  margin: auto;
	line-height: 1.2em;
	padding: 1em;
}

nav h1 a {
  color: #fff;
  font-size: 22pt;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#breadcrumb {
	flex-basis: 100%;
	justify-content: flex-start;
  padding: 8px 40px;
  list-style: none;
  background-color: #eee;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #f18200;
  text-decoration: underline;
}

/* -------------------------------------------------------- */
/* ----------------------- Map ---------------------------- */
/* -------------------------------------------------------- */

#map-container {
  height: 400px;
  flex-basis: 100%;
}

#map {
  height: inherit;
  background-color: #ccc;
}


/* -------------------------------------------------------- */
/* ----------------- Restaurant Filtering ----------------- */
/* -------------------------------------------------------- */

.filter-options {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  flex-basis: 100%;
	padding: 0.6em;
  background-color: #3397DB;

}
.filter-options h2 {
  color: #fff;
  font-size: 14pt;
  line-height: 1;
  margin: 10px 20px;
}
.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: 'Open sans' ,sans-serif;
  height: 35px;
  margin: 5px 10px;
  padding: 0 10px;
  width: 200px;
}

/* -------------------------------------------------------- */
/* ----------------- Restaurant Listing ------------------- */
/* -------------------------------------------------------- */

#restaurants-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 100%;
	max-width: 1280px;

	margin: 0;
	padding: 50px 16px 16px;
  background-color: #f3f3f3;
  list-style: outside none none;

}
#restaurants-list li {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	align-items: flex-start;

  background-color: #fff;
  border: 1px solid #ccc;
  font-family: 'Open sans', sans-serif;
	margin: 0 0 40px;
	padding: 0 0 24px;
  text-align: left;
}

#restaurants-list li a {
	display: inline-block;
	margin-left: 24px;
	align-self: flex-end;
  background-color: #f18200;
  border-bottom: 3px solid #eee;
  color: #fff;
  font-size: 10pt;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:hover {
	background-color: #333;
	color: #f18200;
}

.restaurant-img {
  background-color: #ccc;
	width: 100%;
}

.restaurant-snippet {
	padding: 24px;
	width: 100%;
}

.restaurant-snippet h1 {
  color: #f18200;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: 0;
  line-height: 1.5em;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.restaurant-snippet p {
  margin: 0;
}

.restaurant-snippet p:last-of-type {
  font-size: 10pt;
}

/* -------------------------------------------------------- */
/* ----------------- Restaurant Details ------------------- */
/* -------------------------------------------------------- */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/*------------------------  MAP -------------------------- */

.inside #map-container {
  /* background: blue none repeat scroll 0 0; */
	margin-top: 120px;
  height: 300px;
	flex-basis: 100%;
	z-index: 999;
}

.inside #map-container #map {
  height: inherit;
}

/*------------------------  restaurant details -------------------------- */

#restaurant-container,
#reviews-container {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1280px;
  /* border-bottom: 1px solid #d9d9d9; */
	padding: 16px;
}

#restaurant-name {
	flex-basis: 100%;
  color: #f18200;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  margin: 30px 0;
	text-align: center;
  text-transform: uppercase;
}

.restaurant-wrapper {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
}

#restaurant-img {
	flex-basis: 100%;
	align-self: flex-start;
}

#restaurant-cuisine {
	flex-basis: 100%;
	box-sizing: border-box;
  background-color: #333;
  color: #ddd;
  font-size: 14pt;
  letter-spacing: 10px;
  text-align: center;
	margin: 0;
	padding: 5px;
  text-transform: uppercase;
}

#restaurant-address {
	flex-basis: 100%;
  font-size: 12pt;
	text-align: center;
	color: #f18200;
	margin-bottom: 40px;
}

/*------------------------  restaurant reviews -------------------------- */

#reviews-container h2 {
  color: #252831;
	letter-spacing: 5px;
	text-transform: uppercase;
  font-size: 20pt;
	margin-top: 60px;
	margin-bottom: 30px;
}

#reviews-list {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
	padding: 0;
}

#reviews-list li {
	flex-basis: 100%;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
	overflow: hidden;
  margin: 0 0 30px;
	padding-bottom: 20px;
}

#reviews-list li p {
  flex-basis: 100%;
	padding: 0 30px;
}

#reviews-list li p:first-of-type {
	background-color: #f18200;
	color: #fff;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

#reviews-list li p:nth-of-type(2) {
	color: #f18200;
	font-size: 12px;
}

#restaurant-hours td {
  color: #666;
}

#restaurant-hours td:nth-of-type(2n+1) {
	color: #f18200;
	padding-right: 10px;
}


/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*------------------------ Media-Queries -----------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

/* #restaurants-list,
#reviews-container {
	box-sizing: border-box;
} */

/* tablet */
@media screen and (min-width: 600px) {
	 #restaurants-list {
		 padding-left: 50px;
		 padding-right: 50px;
		 justify-content: space-between;
	 }

   #restaurants-list li,
	 #reviews-list li {
		 flex-basis: 47%;
	 }

	 #restaurant-container {
		 justify-content: space-between;
	 }

}

/* desktop */
@media screen and (min-width: 1280px) {

	#restaurants-list li,
	#reviews-list li {
	  flex-basis: 31%;
  }

	.restaurant-wrapper {
		flex-basis: 47%;
		align-items: flex-end;
	}

	#restaurant-address {
		text-align: left;
			  margin: 0;
	}


}
